body {
	font-size: 18pt;
}

.itemTemplateWrapper {
	border: 1px solid gray;
	padding: 5pt;
	margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
	width: 400px;
	display: block;
    float: left;
}

